.pagination-container p {
    display: inline-block;
    width: 38%;
    padding-left: 1em;
}
.pagination {
    list-style-type: none;
    display: inline-block;
    
}
nav {
    width: 60%;
    display: inline-block;
    text-align: right;
}
.pagination .page-item {
    display: inline-block;
}